---
layout: default
---
<div class="container">
	<header class="clearfix">
		<h1>{{ site.name }}</h1>
	</header>
	<p>
		字符画，一种由字母、标点、汉字或其他字符组成的图画。简单的字符画是利用字符的形状代替图画的线条来构成简单的人物、事物等形象，它一般由人工制作而成；复杂的字符画通常利用占用不同数量像素的字符代替图画上不同明暗的点，它一般由程序制作而成。字符画是互联网时代的产物，通常应用于即时聊天中。
	</p>
	<p>
		本站的字符画大全收集了20多个种类的字符画，涉及人物、动植物、动漫电影、艺术符号、体育运动等。内容丰富多彩，应有尽有，画面精美，值得收藏。
	</p>
	<div id="grid-gallery" class="grid-gallery">
		{% for category in site.categories %}
		<div class = "box">
			<div class="innerBox">
				<h2 id="{{ category[0] }}-ref" class="hat_title decode">{{ category[0] | join: "/" }}</h2>
				<ul>
					{% assign pages_list = category[1] %}  
	    					{% include JB/pages_list %}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
	<!-- // grid-gallery -->
</div>