<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.name }}" />
    <meta name="keywords" content="字符画大全,字符画,字符画精选" />
    <meta name="author" content="Kayson Li" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
    <script src="{{ site.url }}/js/modernizr.custom.js"></script>
  </head>
  <body>

  {{ content }}

    <script src="{{ site.url }}/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.url }}/js/dictionary.js"></script>
    <script src="{{ site.url }}/js/jquery-1.7.1.min.js"></script>
    <script src="{{ site.url }}/js/waterfall.js"></script>
    <script type="text/javascript">
        // waterfallLayout('grid-gallery');
        $(function(){
          var dic = window.dictionary;
          $('.decode').each(function(){
            var name = $(this).text();
            var parts = name.split('/');
            for (var i = 0; i < parts.length; i++) {
              var p = decodeURI(parts[i]);
              if(dic[p]){
                parts[i] = dic[p];
              }
            };
            $(this).text(parts.join('/'));
          })
        })
    </script>
  </body>
</html>
